<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>APKKPFK &mdash; Klinik Pratama Fitrah Keluarga</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- CSS Libraries -->

    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/components.css">
</head>

<body class="sidebar-mini">
<div id="app">
    <div class="main-wrapper">
        <div class="navbar-bg"></div>
        {{> navbar}}
        {{>sidebarAdmin}}
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-header">
                    <h1>List Data Pasien</h1>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Data Pasien</h4>
                                <div class="card-header-form">
                                    <a href="/admin/buat_antrian" class="mb-0 btn btn-success">Buat Antrian</a>
                                    
                                </div>
                            </div>
                            
<!--                            ini search sama filter-->
<!--                            =================================-->
                            <form class="col-6">
                                <div class="input-group">
                                    <label class="text-dark" for="filter_jkn">Tampilkan Pasien</label>
                                    <select id="filter_jkn" class="form-control">
                                        <option value="-">-------</option>
                                        <option value="Ya">Ya</option>
                                        <option value="Tidak">Tidak</option>
                                    </select>
                                    
                                    <input id="cari_pasien_input" type="text" class="form-control"
                                           placeholder="Cari data pasien...">
                                    <div class="input-group-btn">
                                        <a href="#" id="cari_pasien" class="btn btn-primary"><i
                                                class="fas fa-search"></i></a>
                                    </div>
                                </div>
                            </form>
                            <!--                            ini search sama filter-->
                            <!--                            =================================-->
                            <br>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>ID Registrasi Pasien</th>
                                            <th>Nama Lengkap</th>
                                            <th>NIK Pasien</th>
                                            <th>Pasien JKN</th>
                                            <th>Aksi</th>
                                        </tr>
                                        {{#pasien}}
                                            <tr>
                                                <td>{{id_registrasi_pasien}}</td>
                                                <td>{{nama_lengkap}}</td>
                                                <td>{{nik}}</td>
                                                <td>{{pasien_jkn}}</td>
                                                <td><a href="/admin/detail_pasien/{{id_registrasi_pasien}}" class="btn btn-primary">Detail</a></td>
                                            </tr>
                                        {{/pasien}}
                                    </table>
                                    
                                </div>
                                
                            </div>
                            
                            <div class="card-footer text-right">
                                <nav class="d-inline-block">
                                    <ul class="pagination mb-0">
                                        <li class="page-item">
                                            <a class="page-link" href="/admin/list_data_pasien/?offset={{prevOffset}}&limit={{limit}}" tabindex="-1"><i class="fas fa-chevron-left"></i> Sebelumnya</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="/admin/list_data_pasien/?offset={{nextOffset}}&limit={{limit}}">Selanjutnya <i class="fas fa-chevron-right"></i></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-body">
                </div>
            </section>
        </div>
        
    </div>
</div>

<script>
    //untuk filter search dan jkn
    document.getElementById('cari_pasien').addEventListener('click', function () {
        let filter_jkn = document.getElementById('filter_jkn').value;
        let cari_pasien_input = document.getElementById('cari_pasien_input').value;
        console.log(cari_pasien_input)
        if (filter_jkn === '-' && cari_pasien_input === '') {
            window.location.href = `/admin/list_data_pasien`;
        } else if (filter_jkn === '-') {
            window.location.href = `/admin/list_data_pasien?limit=100&search=${cari_pasien_input}`;
        }  else {
            window.location.href = `/admin/list_data_pasien?limit=100&pasien_jkn=${filter_jkn}&search=${cari_pasien_input}`;
        }
    });
</script>
<!-- General JS Scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/assets/js/stisla.js"></script>

<!-- JS Libraies -->

<!-- Template JS File -->
<script src="/assets/js/scripts.js"></script>
<script src="/assets/js/custom.js"></script>

<!-- Page Specific JS File -->
</body>
</html>
