<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>APKKPFK &mdash; Klinik Pratama Fitrah Keluarga</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- CSS Libraries -->

    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/components.css">
</head>

<body class="sidebar-mini">
<div id="app">
    <div class="main-wrapper">
        <div class="navbar-bg"></div>
        {{> navbar}}
        {{>sidebarAdmin}}
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-header">
                    <h1>Antrian Pasien</h1>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="empty-state" data-height="500">
                                    <h1>Dokter Umum</h1>
                                    <h2>Nomer Antrian Sekarang</h2>
                                    <br>
                                    {{#if biggestNomerAntrianTerpanggilDokterUmum}}
                                        <h1>{{biggestNomerAntrianTerpanggilDokterUmum.nomer_antrian}}</h1>
                                    {{else}}
                                        <h1>-</h1>
                                    {{/if}}
                                    <h2>Nomer Antrian Berikutnya</h2>
                                    {{#if smallestNomerAntrianTerdaftarDokterUmum}}
                                        <h1>{{smallestNomerAntrianTerdaftarDokterUmum.nomer_antrian}}</h1>
                                    {{else}}
                                        <h1>-</h1>
                                    {{/if}}
                                    
                                    <h2>Antrian Terakhir</h2>
                                    {{#if biggestNomerAntrianTerdaftarDokterUmum.nomer_antrian}}
                                        <h1> {{biggestNomerAntrianTerdaftarDokterUmum.nomer_antrian}} </h1>
                                    {{else}}
                                        <h1> - </h1>
                                    {{/if}}
                                    <h4> Status Dokter</h4>
                                    <h5> {{statusDokterUmum.status_dokter}}</h5>
                                </div>
                                <br>
                                <a id="antrian_selanjutnya_dokter_umum" href="#" class="btn btn-primary mt-2">Antrian
                                    Selanjutnya</a>
                                <a id="tutup_antrian_dokter_umum" href="#" class="btn btn-danger mt-2">Tutup antrian</a>
                                <a id="buka_antrian_dokter_umum" href="#" class="btn btn-success mt-2">Buka Antrian</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="card">

                            <div class="card-body">

                                <div class="empty-state" data-height="500">
                                    <h1>Dokter Gigi</h1>
                                    <h2>Nomer Antrian Sekarang</h2>
                                    <br>
                                    {{#if biggestNomerAntrianTerpanggilDokterGigi}}
                                        <h1>{{biggestNomerAntrianTerpanggilDokterGigi.nomer_antrian}}</h1>
                                    {{else}}
                                        <h1>-</h1>
                                    {{/if}}
                                    <h2>Nomer Antrian Berikutnya</h2>
                                    {{#if smallestNomerAntrianTerdaftarDokterGigi}}
                                        <h1>{{smallestNomerAntrianTerdaftarDokterGigi.nomer_antrian}}</h1>
                                    {{else}}
                                        <h1>-</h1>
                                    {{/if}}
                                    <h2>Antrian Terakhir</h2>
                                    {{#if smallestNomerAntrianTerdaftarDokterGigi}}
                                        <h1> {{biggestNomerAntrianTerdaftarDokterGigi.nomer_antrian}} </h1>
                                    {{else}}
                                        <h1>-</h1>
                                    {{/if}}
                                    <h4> Status Dokter</h4>
                                    <h5> {{statusDokterGigi.status_dokter}}</h5>
                                </div>
                                <a id="antrian_selanjutnya_dokter_gigi" href="#" class="btn btn-primary mt-2">Antrian
                                    Selanjutnya</a>
                                <a id="tutup_antrian_dokter_gigi" href="#" class="btn btn-danger mt-2">Tutup antrian</a>
                                <a id="buka_antrian_dokter_gigi" href="#" class="btn btn-success mt-2">Buka Antrian</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Antrian Dokter Umum</h4>
                                <div class="card-header-form">
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>ID Antrian</th>
                                            <th>ID Registrasi Pasien</th>
                                            <th>NIK Pasien</th>
                                            <th>Nama Lengkap</th>
                                            <th>Nomer Antrian</th>
                                            <th>Status Antrian</th>
                                        </tr>
                                        {{#antrianRecordsDokterUmum}}
                                            <tr>
                                                <td>{{id_antrian}}</td>
                                                <td>{{id_registrasi_pasien}}</td>
                                                <td>{{dataPasien.nik}}</td>
                                                <td>{{dataPasien.nama_lengkap}}</td>
                                                <td>{{nomer_antrian}}</td>
                                                <td>{{status_antrian}}</td>
                                            </tr>
                                        {{/antrianRecordsDokterUmum}}
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <nav class="d-inline-block">
                                    <ul class="pagination mb-0">
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="/admin/antrian/?offsetDokterUmum={{prevOffsetDokterUmum}}
                                            &limit={{limitDokterUmum}}" tabindex="-1"><i
                                                class="fas fa-chevron-left"></i></a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="/admin/antrian/?offsetDokterUmum={{nextOffsetDokterUmum}}
                                            &limit={{limitDokterUmum}}"><i class="fas fa-chevron-right"></i></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Antrian Dokter Gigi</h4>
                                <div class="card-header-form">
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>ID Antrian</th>
                                            <th>ID Registrasi Pasien</th>
                                            <th>NIK Pasien</th>
                                            <th>Nama Lengkap</th>
                                            <th>Nomer Antrian</th>
                                            <th>Status Antrian</th>
                                        </tr>
                                        {{#antrianRecordsDokterGigi}}
                                            <tr>
                                                <td>{{id_antrian}}</td>
                                                <td>{{id_registrasi_pasien}}</td>
                                                <td>{{dataPasien.nik}}</td>
                                                <td>{{dataPasien.nama_lengkap}}</td>
                                                <td>{{nomer_antrian}}</td>
                                                <td>{{status_antrian}}</td>
                                            </tr>
                                        {{/antrianRecordsDokterGigi}}


                                    </table>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <nav class="d-inline-block">
                                    <ul class="pagination mb-0">
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="/admin/antrian/?offsetDokterGigi={{prevOffsetDokterGigi}}&limit={{limitDokterGigi}}" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="/admin/antrian/?offsetDokterGigi={{nextOffsetDokterGigi}}&limit={{limitDokterGigi}}"><i class="fas fa-chevron-right"></i></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-body">
                </div>
            </section>
        </div>
        
    </div>
</div>
<script>
    document.getElementById('antrian_selanjutnya_dokter_umum').addEventListener('click', function() {
    fetch('/aturantrian/dokter_umum', {
        method: 'PATCH',
        headers: {
            'Content-Type': 'application/json',
        },
        credentials: 'include' // Include cookies in the request
    })
    .then(response => response.json())
    .then(data => {
        location.reload()
        console.log('Success:', data);
    })
    .catch((error) => {
        console.error('Error:', error);
        alert(error)
    });
});
    document.getElementById('tutup_antrian_dokter_umum').addEventListener('click', function() {
    fetch('/admin/tutup_antrian/dokter_umum', {
        method: 'PATCH',
        headers: {
            'Content-Type': 'application/json',
        },
        credentials: 'include' // Include cookies in the request
    })
    .then(response => response.json())
    .then(data => {
        location.reload()
        console.log('Success:', data);
    })
    .catch((error) => {
        console.error('Error:', error);
        alert(error)
    });
});
    
    document.getElementById('buka_antrian_dokter_umum').addEventListener('click', function() {
    fetch('/admin/buka_antrian/dokter_umum', {
        method: 'PATCH',
        headers: {
            'Content-Type': 'application/json',
        },
        credentials: 'include' // Include cookies in the request
    })
    .then(response => response.json())
    .then(data => {
        location.reload()
        console.log('Success:', data);
    })
    .catch((error) => {
        console.error('Error:', error);
        alert(error)
    });
});
    document.getElementById('antrian_selanjutnya_dokter_gigi').addEventListener('click', function() {
        fetch('/aturantrian/dokter_gigi', {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
            },
            credentials: 'include' // Include cookies in the request
        })
                .then(response => response.json())
                .then(data => {
                    location.reload()
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert(error)
                });
    });
    
    document.getElementById('tutup_antrian_dokter_gigi').addEventListener('click', function() {
    fetch('/admin/tutup_antrian/dokter_gigi', {
        method: 'PATCH',
        headers: {
            'Content-Type': 'application/json',
        },
        credentials: 'include' // Include cookies in the request
    })
    .then(response => response.json())
    .then(data => {
        location.reload()
        console.log('Success:', data);
    })
    .catch((error) => {
        console.error('Error:', error);
        alert(error)
    });
});
    
    document.getElementById('buka_antrian_dokter_gigi').addEventListener('click', function() {
    fetch('/admin/buka_antrian/dokter_gigi', {
        method: 'PATCH',
        headers: {
            'Content-Type': 'application/json',
        },
        credentials: 'include' // Include cookies in the request
    })
    .then(response => response.json())
    .then(data => {
        location.reload()
        console.log('Success:', data);
    })
    .catch((error) => {
        console.error('Error:', error);
        alert(error)
    });
});
</script>

<!-- General JS Scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/assets/js/stisla.js"></script>

<!-- JS Libraies -->

<!-- Template JS File -->
<script src="/assets/js/scripts.js"></script>
<script src="/assets/js/custom.js"></script>

<!-- Page Specific JS File -->
</body>
</html>
